.joinButton {
  background-color: #02bd9c;
  border: 1px solid #02bd9c;
  box-shadow: 0 0 0.0625rem 0 #02bd9c inset,0 0 0.0625rem 0 #02bd9c;
  padding: 0 1.5rem;
  color: #fff;
  margin-left: 0.9375rem;
  min-width: 7.5625rem;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 2rem;
  line-height: 1.875rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background .2s ease,text-decoration .2s ease,border-color .2s ease,color .2s ease,-webkit-text-decoration .2s ease;
  white-space: nowrap;
  text-transform: none;
  margin: 0 0 0 0.9375rem;
}

.loginButton {
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 0 0.0625rem 0 #fff inset, 0 0 0.0625rem 0 #fff;
  color: #fff;
  padding: 0 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2rem;
  line-height: 1.875rem;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}